services:
  piper:
    image: lscr.io/linuxserver/piper:latest
    container_name: piper
    ports:
      - "10200:10200"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
      - PIPER_VOICE=en_US-lessac-medium
      - PIPER_LENGTH=1.0
      - PIPER_NOISE=0.667
      - PIPER_NOISEW=0.333
      - PIPER_SPEAKER=0
    restart: unless-stopped